body {
    margin: 0px;
    font-family: Tahoma, sans-serif;
    background-color: #FFFFFF;
}

.header_flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #141B41;
    width: 100%;
}

.header_title {
    flex: 1 1 50%;
    text-align: center;
    margin: 0px;
    padding: 10px 10px;
    color: #EFF1F3;
    font-size: 18pt;
}

.header_container::after {
    content: "";
    height: 10px;
    background-color: #2D7DD2;
    display: block;
}

.main_content_box {
    padding: 10px 20px;
}

.dashboard_container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: normal;
}

.card {
    padding: 20px;
    margin: 10px;
    background-color: #EFF1F3;
    border-radius: 15px;
    flex: 1 1 100%;
}

.card_row {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.nav_sidebar {
    flex: 0 0 250px;
}

ul.nav_sidebar_items {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

li.nav_sidebar_item {
    padding: 5px 5px 5px 14px;
}

li.nav_sidebar_active_item {
    border-left: 4px solid #2D7DD2;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}

a.nav_sidebar_link:link, a.nav_sidebar_link:visited {
    color: black;
    text-decoration: none;
}

a.nav_sidebar_link:hover, a.nav_sidebar_link:active {
    border-bottom: 2px solid #141B41;
    padding: 3px 0px
}

.page_content {
    flex: 1 1 100%;
}